.hdrAHTButton .toolbarbutton-icon {
  width: 16px;
  height: 16px;
  min-width: unset;
  min-height: unset;
}
.toolbarAHTButton .toolbarbutton-icon {
  width: 18px;
  height: 18px;
  min-width: unset;
  min-height: unset;
}

#AllowHTMLtemp,
#hdrAHTButton {
  list-style-image: url("chrome://allowhtmltemp/skin/aht_button_color.svg");
}
